<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    REGISTER
</h1>>
<form th:action="@{/auth/register}" th:method="post" th:object="${user}">
    <input type="text" placeholder="username" id="email" th:field="*{email}" name="email">
    <input type="password" placeholder="password" id="password" th:field="*{password}" name="password">
    <button type="submit" name="Submit" value="Register">Register</button>
</form>
</body>
</html>