<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8/>
    <link rel=stylesheet type=text/css th:href="@{https://codingbat.com/codingbat.css}">

    <title>CodingBat Java</title></head>
<body>
<br><a href=/><span style='font-size:200%;'>CodingBat</span></a> code practice<p>
<h2>Create Account</h2>
<p style='max-width:800px'>Please enter information to create a new account. We use your email address as your id just
    so it's memorable and for password reset, not for spamming. New accounts automatically pick up any saved or done
    problems of the current session. The name field is not required, but with the Teacher Share feature, it can help the
    teacher see who is who. The password should have at least 6 characters.
<p>
<form action=""></form>

<!--<form name=pform th:action="@{/auth/register}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td width=250><label>Email (used as account id)</label></td>-->
<!--            <td><input type=text size=42 name="email" value="" required></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td width=200><label>Password</label></td>-->
<!--            <td><input type=password size=42 name="password" value="" required></td>-->
<!--            <td>-->
<!--                <button onclick='var pw=document.pform.password.type=="password"; document.pform.password.type=pw?"text":"password"; return false;'>-->
<!--                    show/hide-->
<!--                </button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td>-->
<!--                <button type="submit">Create Account</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->
<p><a href=/privacy.html>privacy statement</a>
</body></html>